SQLAlchemy==2.0.9
aiormq==6.7.3
aiokafka==0.8.0
alembic==1.10.3
bcrypt==4.0.1
fastapi==0.95.0
jsons==1.6.3
pydantic==1.10.6
psycopg2-binary==2.9.6
python-jose==3.3.0
uvicorn==0.20.0
watchfiles==0.19.0
python-multipart==0.0.6
python-ulid==1.1.0
prometheus-fastapi-instrumentator==6.0.0

# for testing
pytest==7.2.1
pytest-cov==4.0.0
pytest-asyncio==0.21.0
httpx==0.24.0
asgi-lifespan==2.1.0
