[run]
omit =
    **/zrb_init.py
    src/zrb/__main__.py
    **/any_*.py
    **/__init__.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError

[html]
directory = htmlcov
