[tool.poetry]
name = "zrb"
version = "1.21.32"
description = "Your Automation Powerhouse"
authors = ["Go Frendi Gunawan <gofrendiasgard@gmail.com>"]
license = "AGPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/state-alchemists/zrb"
repository = "https://github.com/state-alchemists/zrb"
documentation = "https://github.com/state-alchemists/zrb"
keywords = ["Automation", "Task Runner", "Code Generator", "Monorepo", "Low Code"]
exclude = [
    "__pycache__",
    "_images",
    ".github",
    ".pytest_cache",
    ".venv",
    ".vscode",
    "dist",
    "docs",
    "htmlcov",
    "playground",
    "test",
    ".coverage",
    ".coveragerc",
    ".cprofile.prof",
    ".cprofile.svg",
    ".env",
    ".flake8",
    ".gitignore",
    ".python-version",
    "install.sh",
    "project.sh",
    "README.md",
    "template.env",
    "zrb_init.py"
]

[tool.poetry.dependencies]
python = ">=3.11.0,<4.0.0"
python-dotenv = "^1.1.1"
black = "^25.11.0"
isort = "^7.0.0"
libcst = "^1.8.6"
beautifulsoup4 = "^4.14.2"
pdfplumber = "^0.11.7"
fastapi = {extras = ["standard"], version = "^0.123.9"}
python-jose = {extras = ["cryptography"], version = "^3.5.0"}
ulid-py = "^1.1.0"
psutil = "^7.0.0"

# NOTE: Look at https://github.com/pydantic/pydantic-ai/blob/main/pydantic_ai_slim/pyproject.toml
pydantic-ai-slim = "~1.32.0"

# NOTE: Make sure the following dependencies are not conflicting with pydantic-ai-slim
openai = ">=2.11.0"
prompt-toolkit = ">=3"
rich = ">=13"
mcp = ">1.18.0"
requests = "^2.32.5"

tiktoken = "^0.12.0"
markdownify = "^1.2.2"
pyjwt = "^2.10.1"
pyyaml = "^6.0.3"

# Optional packages
playwright = {version = "^1.56.0", optional = true}
chromadb = {version = "^1.3.5", optional = true}

# NOTE: Make sure the following dependencies are not conflicting with pydantic-ai-slim
cohere = {version = ">=5.18.0", optional = true}
google-auth = {version = ">=2.36.0", optional = true}
google-genai = {version = ">=1.51.0", optional = true}
anthropic = {version = ">=0.70.0", optional = true}
groq = {version = ">=0.25.0", optional = true}
mistralai = {version = ">=1.9.10", optional = true}
boto3 = {version = ">=1.40.14", optional = true}
huggingface-hub = {version = ">=0.33.5,<1.0.0", extras = ["inference"], optional = true}

[tool.poetry.extras]
# Install all extras:
# - poetry install --all-extras
# - pip install zrb[all]
# Install specific extra:
# - poetry install -E rag
# - pip install zrb[rag]

rag = ["chromadb"]
playwright = ["playwright"]
cohere = ["cohere"]
vertexai = ["google-auth"]
google = ["google-genai"]
anthropic = ["anthropic"]
groq = ["groq"]
mistral = ["mistralai"]
bedrock = ["boto3"]
huggingface = ["huggingface-hub"]
all = ["chromadb", "playwright", "cohere", "google-auth", "google-genai", "anthropic", "groq", "mistral", "bedrock", "huggingface"]

[tool.poetry.group.dev.dependencies]
alembic = "^1.16.4" # FastApp dependencies
autopep8 = "^2.3.2"
flake8 = "^7.2.0"
pytest = "^8.3.5"
pytest-cov = "^6.1.0"
pytest-asyncio = "^0.26.0"
sqlmodel = "^0.0.24" # FastApp dependencies
tomlkit = "^0.13.3"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
norecursedirs = "playground src/zrb/builtin/project/add/fastapp/fastapp_template"

[tool.poetry.scripts]
zrb = "zrb.__main__:serve_cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
