[tool.poetry]
name = "zrb"
version = "1.9.9"
description = "Your Automation Powerhouse"
authors = ["Go Frendi Gunawan <gofrendiasgard@gmail.com>"]
license = "AGPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/state-alchemists/zrb"
repository = "https://github.com/state-alchemists/zrb"
documentation = "https://github.com/state-alchemists/zrb"
keywords = ["Automation", "Task Runner", "Code Generator", "Monorepo", "Low Code"]
exclude = [
    "__pycache__",
    "_images",
    ".github",
    ".pytest_cache",
    ".venv",
    ".vscode",
    "dist",
    "docs",
    "htmlcov",
    "playground",
    "test",
    ".coverage",
    ".coveragerc",
    ".cprofile.prof",
    ".cprofile.svg",
    ".env",
    ".flake8",
    ".gitignore",
    ".python-version",
    "install.sh",
    "project.sh",
    "README.md",
    "template.env",
    "zrb_init.py"
]

[tool.poetry.dependencies]
python = ">=3.10.0,<4.0.0"
python-dotenv = "^1.1.1"
black = "~25.1.0"
isort = "~6.0.1"
requests = "^2.32.4"
libcst = "^1.7.0"
chromadb = {version = "^0.6.3", optional = true}
pdfplumber = {version = "^0.11.6", optional = true}
beautifulsoup4 = "^4.13.3"
fastapi = {extras = ["standard"], version = "^0.115.14"}
python-jose = {extras = ["cryptography"], version = "^3.4.0"}
ulid-py = "^1.1.0"
pydantic-ai = "^0.3.4"
tiktoken = "^0.8.0"
openai = {version = "^1.86.0", optional = true}
playwright = {version = "^1.53.0", optional = true}
psutil = "^7.0.0"
pyjwt = "^2.10.1"
prompt-toolkit = "^3.0.51"
rich = "^14.0.0"

[tool.poetry.extras]
# poetry install -E rag
rag = ["chromadb", "pdfplumber", "openai"]
playwright = ["playwright"]
all = ["chromadb", "pdfplumber", "openai", "playwright"]

[tool.poetry.group.dev.dependencies]
alembic = "^1.16.2" # FastApp dependencies
autopep8 = "^2.0.4"
flake8 = "~7.2.0"
pytest = "~8.3.5"
pytest-cov = "~6.1.0"
pytest-asyncio = "~0.26.0"
sqlmodel = "^0.0.24" # FastApp dependencies
tomlkit = "^0.13.2"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"

[tool.poetry.scripts]
zrb = "zrb.__main__:serve_cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
