[tool.poetry]
name = "zrb"
version = "0.9.0"
description = "A Framework to Enhance Your Workflow"
authors = ["Go Frendi Gunawan <gofrendiasgard@gmail.com>"]
license = "AGPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/state-alchemists/zrb"
repository = "https://github.com/state-alchemists/zrb"
documentation = "https://github.com/state-alchemists/zrb"
keywords = ["Automation", "Task Runner", "Code Generator", "Low Code"]

[tool.poetry.dependencies]
python = ">=3.10.0,<4.0.0"
click = "~8.1.4"
aiofiles = "~23.1.0"
beartype = "~0.15.0"
termcolor = "~2.3.0"
Jinja2 = "~3.1.2"
libcst = "~0.4.9"
python-dotenv = "~1.0.0"
jsons = "~1.6.3"
"ruamel.yaml" = "~0.17.32"
setuptools = "~68.0.0"
autopep8 = "~2.0.2"
croniter = "~2.0.1"

[tool.poetry.dev-dependencies]
flake8 = "~6.0.0"
black = "~23.12.1"
isort = "~5.13.2"
tomli = "~2.0.1"
pytest = "~7.4.0"
pytest-cov = "~4.1.0"
pytest-asyncio = "~0.21.0"
flameprof = "~0.4"

[tool.poetry.scripts]
zrb = "zrb.__main__:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

