[build-system]
requires = ["flit_core>=3.4"]
build-backend = "flit_core.buildapi"

[project]
name = "zrb"
version = "0.0.4"
authors = [
  { name="Go Frendi Gunawan", email="gofrendiasgard@gmail.com" },
]
description = "Your faithful sidekick"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "click==8.1.3",
    "pydantic==1.10.4",
    "termcolor==2.2.0",
    "Jinja2==3.1.2"
]

[project.urls]
"Homepage" = "https://github.com/state-alchemists/zaruba"
"Bug Tracker" = "https://github.com/state-alchemists/zaruba/issues"

[project.scripts]
zrb = "zrb.__main__:cli"