[build-system]
requires = ["flit_core>=3.4"]
build-backend = "flit_core.buildapi"

[project]
name = "zrb"
version = "0.0.23"
authors = [
  { name="Go Frendi Gunawan", email="gofrendiasgard@gmail.com" },
]
description = "Your faithful companion"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
dependencies = [
  "click==8.1.3",
  "typeguard==2.13.3",
  "termcolor==2.2.0",
  "Jinja2==3.1.2",
  "libcst==0.4.9",
]

[project.optional-dependencies]
dev = [
  "autopep8==2.0.1",
  "flake8==6.0.0",
]
test = [
  "pytest==7.2.1",
  "pytest-cov==4.0.0"
]

[project.urls]
"Homepage" = "https://github.com/state-alchemists/zaruba"
"Bug Tracker" = "https://github.com/state-alchemists/zaruba/issues"

[project.scripts]
zrb = "zrb.__main__:cli"

[tool.pytest.ini_options]
pythonpath = [
  "src"
]