[tool.poetry]
name = "zrb"
version = "0.28.0"
description = "A Framework to Enhance Your Workflow"
authors = ["Go Frendi Gunawan <gofrendiasgard@gmail.com>"]
license = "AGPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/state-alchemists/zrb"
repository = "https://github.com/state-alchemists/zrb"
documentation = "https://github.com/state-alchemists/zrb"
keywords = ["Automation", "Task Runner", "Code Generator", "Monorepo", "Low Code"]
exclude = [
    "__pycache__",
    "_images",
    ".github",
    ".pytest_cache",
    ".venv",
    ".vscode",
    "dist",
    "docker",
    "docs",
    "htmlcov",
    "playground",
    "test",
    ".coverage",
    ".coveragerc",
    ".cprofile.prof",
    ".cprofile.svg",
    ".env",
    ".flake8",
    ".gitignore",
    ".python-version",
    "install.sh",
    "project.sh",
    "README.md",
    "template.env",
    "zrb_init.py"
]

[tool.poetry.dependencies]
python = ">=3.10.0,<4.0.0"
click = "~8.1.7"
aiofiles = "~23.2.1"
beartype = "~0.17.2"
termcolor = "~2.4.0"
Jinja2 = "~3.1.3"
libcst = "~0.4.9"
python-dotenv = "~1.0.1"
jsons = "~1.6.3"
"ruamel.yaml" = "~0.18.6"
setuptools = "~70.0.0"
autopep8 = "~2.0.4"
croniter = "~2.0.2"
tomlkit = "^0.12.4"

[tool.poetry.dev-dependencies]
flake8 = "~7.0.0"
black = "~24.4.2"
isort = "~5.13.2"
pytest = "~7.4.0"
pytest-cov = "~4.1.0"
pytest-asyncio = "~0.21.0"
flameprof = "~0.4"

[tool.poetry.scripts]
zrb = "zrb.__main__:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

