[build-system]
requires = ["flit_core>=3.4"]
build-backend = "flit_core.buildapi"

[project]
name = "zrb"
version = "0.0.118"
authors = [
  { name="Go Frendi Gunawan", email="gofrendiasgard@gmail.com" },
]
description = "Super framework for your super app"
readme = "README.md"
requires-python = ">=3.10.0"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
  "Operating System :: OS Independent",
]
dependencies = [
  "click ~= 8.1.4",
  "aiofiles ~= 23.1.0",
  "beartype ~= 0.15.0",
  "termcolor ~= 2.3.0",
  "Jinja2 ~= 3.1.2",
  "libcst ~= 0.4.9",
  "python-dotenv ~= 1.0.0",
  "jsons ~= 1.6.3",
  "ruamel.yaml ~= 0.17.32",
  "setuptools ~= 68.0.0",
  "autopep8 ~= 2.0.2",
  "croniter ~= 2.0.1",
]

[project.optional-dependencies]
dev = [
  "flake8 ~= 6.0.0",
]
test = [
  "pytest ~= 7.4.0",
  "pytest-cov ~= 4.1.0",
  "pytest-asyncio ~= 0.21.0",
]

[project.urls]
"Homepage" = "https://github.com/state-alchemists/zrb"
"Bug Tracker" = "https://github.com/state-alchemists/zrb/issues"

[project.scripts]
zrb = "zrb.__main__:cli"

[tool.pytest.ini_options]
pythonpath = [
  "src"
]
