# Build dependencies
flit==3.9.0         # better builder
twine==4.0.2        # pip package uploader
keyring==24.2.0     # authenticator (used by twine)
tomli~=2.0.1

# Zrb dependencies (should be copied to `pyproject.toml`)
click~=8.1.4        # CLI framework
aiofiles~=23.1.0
beartype~=0.15.0
termcolor~=2.3.0
Jinja2~=3.1.2
libcst~=0.4.9
python-dotenv~=1.0.0
jsons~=1.6.3
ruamel.yaml~=0.17.32
setuptools~=68.0.0
autopep8~=2.0.2     # Autoformatter
croniter~=2.0.1

# Zrb dev dependencies (should be copied to `pyproject.toml`)
flake8~=6.0.0       # Linter

# Zrb test dependencies (should be copied to `pyproject.toml`)
pytest~=7.4.0
pytest-cov~=4.1.0
pytest-asyncio~=0.21.0

# Other dependencies (just for auto-completion, not included in `pyproject.toml`)
pulumi==3.78.1
pulumi-kubernetes==4.1.0
fastapi==0.101.1
aiormq==6.7.7
aiokafka==0.8.1
alembic==1.11.3
SQLAlchemy==2.0.18
python-jose==3.3.0
bcrypt==4.0.1
python-multipart==0.0.6
httpx==0.24.1
asgi-lifespan==2.1.0
python-ulid==1.1.0
locust==2.16.1
opentelemetry-distro==0.40b0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-instrumentation-fastapi==0.40b0
