# Other dependencies (just for auto-completion, not included in `pyproject.toml`)
pulumi~=3.78.1
pulumi-kubernetes~=4.1.0

SQLAlchemy==2.0.25
aiormq==6.8.0
aiokafka==0.10.0
alembic==1.13.1
bcrypt==4.1.2
fastapi==0.109.0
jsons==1.6.3
pydantic==2.5.3
psycopg2-binary==2.9.9
python-jose==3.3.0
uvicorn==0.27.0
watchfiles==0.21.0
python-multipart==0.0.6
python-ulid==2.2.0
opentelemetry-distro==0.40b0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-instrumentation-fastapi==0.40b0
httpx==0.26.0
asgi-lifespan==2.1.0
