MODE=monolith
ENABLE_MONITORING=1
NAMESPACE=default
BROKER_TYPE=

RABBITMQ_AUTH_USERNAME=root
RABBITMQ_AUTH_PASSWORD=Alch3mist

REDPANDA_AUTH_SASL_ENABLED=true
REDPANDA_AUTH_MECHANISM='SCRAM-SHA-512'
REDPANDA_AUTH_USER_NAME=root
REDPANDA_AUTH_USER_PASSWORD=Alch3mist

POSTGRESQL_AUTH_POSTGRES_PASSWORD=Alch3mist
POSTGRESQL_AUTH_USERNAME=root
POSTGRESQL_AUTH_PASSWORD=Alch3mist
POSTGRESQL_DB=snake_zrb_app_name

SIGNOZ_CLICKHOUSE_NAMESPACE=
SIGNOZ_CLICKHOUSE_USER=admin
SIGNOZ_CLICKHOUSE_PASSWORD=Alch3mist

REPLICA=1
REPLICA_GATEWAY=1
REPLICA_LOG_SERVICE=1