version: '3'
networks:
  zrb:
    name: zrb
services:
  snake_app_name:
    build: src
    image: ${IMAGE:-kebab-app-name}
    container_name: snake_app_name
    hostname: snake_app_name
    ports:
    - "${HOST_PORT:-8080}:${APP_PORT:-8080}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:${APP_PORT:-8080}/ || exit 1"]
      interval: 5s
      timeout: 1s
      retries: 30
    networks:
      - zrb